@page
@model BoardGames.Pages.Customer.Cart.IndexModel
@{
    ViewData["Title"] = "Index";
}

<form method="post">

    <br />
    <br />

    @if (Model.OrderDetailsCartVM.ShoppingCart.Count > 0)
    {

        <input asp-for="@Model.OrderDetailsCartVM.ShoppingCart[0].ApplicationUserId" hidden />
        <div>
            <div class="container">
                <div class="card bg-secondary">
                    <div class="card-header bg-warning text-light ml-0 row container">
                        <div class="col-8">
                            <h4>Shopping Cart</h4>
                        </div>
                        <div class="col-4 text-right">
                            <a asp-page="../Home/Index" class="btn btn-info btn-sm">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.OrderDetailsCartVM.ShoppingCart)
                        {
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.GameItem.Image" class="rounded" height="80" />
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                    <h4><strong>@item.GameItem.Name</strong></h4>
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px;">
                                        <h6><strong>$@item.GameItem.Price.ToString("0.00") <span class="text-muted">x</span>&nbsp; @item.Count </strong></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-success" asp-page-handler="plus" asp-route-cartId="@item.Id">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn btn-info" asp-page-handler="minus" asp-route-cartId="@item.Id">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4 col-lg-2 text-right">
                                        <button type="submit" class="btn btn-outline-warning" asp-page-handler="remove" asp-route-cartId="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }

                        <div class="row">
                            <div class="col-12 col-md-5">

                            </div>
                            <div class="col-12 col-md-6 col-lg-4 offset-lg-3 pr-4">
                                @*<ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-dark">*@
                                        <span class="text-white py-2"> SubTotal (USD)</span>
                                        <strong class="text-white">$ <span id="txtOrderTotal">@Model.OrderDetailsCartVM.OrderHeader.OrderTotal.ToString("0.00")</span></strong>
                                    @*</li>
                                </ul>*@
                            </div>
                        </div>


                    </div>
                    <div class="card-footer bg-warning">
                        <div class="col-lg-6 offset-lg-6 col-md-6 offset-md-6">
                            <a asp-page="Summary" class="btn btn-success form-control">Go To Check-Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
           <h1 class="mt-3">No items in Cart.</h1>
        </div>
    }
</form>

